*{
    margin: 0;
    padding: 0;
}
.annoucement{
    background-color: #FFE9E9;
    color: #80191a;
    text-align: center;
    margin: 0 auto;/*put item center*/
    height: 200px;
    padding: 3vh 0;
}
ul{
    line-height: 24px;
    
    padding:3vh 0;
}
.annoucement >ul> li{
    list-style: none;
    padding-bottom: 1em;;
}
.item{
    font-size: 14.5px;
    
}
.title{
    font-size: 20px;
} 