.cartproduct{
    /* width: 1300px; */
    display: flex;
    align-content: center;
}
.cartproduct>.image{
    width: 25%;
    height: auto;
}
.cartproduct>.title{
    width: 35%;
}
.cartproduct>.price{
    width:15%;
}
.cartproduct>.number{
    width: 10%;
}
.cartproduct>.number>input{
    width: 40px;
    text-align: center;
}
.cartproduct>.total{
    width: 20%;
}
.cartproduct>.delete{
    width: 5%;
}