.copyright{
    padding: 10px;
    background-color: #6E716E;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400px;
}