.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #121214;
    color: white;
    margin: 0; padding: 0;
    /* font-size: 12px; */
}
.links{
    color: white;
    text-decoration: none;
}
a{  
    font-size: 14px;
}
.footer__container{
    padding: 50px 0;
}
.footer__title{
    padding: 10px 0;
    font-size: 18px;
}
.footer__subsection{
    padding: 10px 0;
}
.footer__socialmedia{
    height:30px;
    padding-right: 7px;
}
.footer__section>li {
    display: block;
    padding-bottom: 15px;
    
}
.footer_subtitle{
    font-weight: 400px;
}
ul{
    padding: 0;
}