.header{
    position: sticky;
    z-index: 100;
    width: auto;
    top:0;   
    margin: 0;
}
.header__main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f8f8f8;
    padding: 10px ;
    
    
    transition: margin-left .5s;
}

.header__main > img{
    height: 30px;
}
.header__nav{
    display: flex;
}
.header__nav__drop{
    display: flex;
    margin-top: 148px;
}
.header__search{
    display: flex;
    align-items: center;
    width: 400px;
    
}
.header__searchInput{
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    width: 100%;
    padding: 5px;
}
.header__searchIcon{
    color: #c2c2c2;
    position:relative;
    left:-10;
    z-index: 10;
}
.header__link > div{
    display:flex;
    font-size: 16px;
}
.header__link > div > div{
    
    font-size: 16px;
}
.header__nav__guest > div{
    padding:0 20px;
}
.header__cart{
    display: flex;
    align-items: center;
}
.header__cartCount{
    background-color: #ff5501;
    line-height: 24px;
    padding:0 7px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.header__logo {
    width: 170px;
    height: auto;
    object-fit: contain;
  }
.cart-icon{
    color: #949393;
}
.cart-icon:hover{
    color: #585757;
}
.login-link:hover,.register-link:hover{
    color:white;
}
.dropdown{
    padding: 0;
    z-index: 10;
}
.dropdown > ul{
    list-style: none;
    background-color: white;
    border:1px solid rgba(88, 87, 87,0.5) ;
}
.dropdown> ul> li{
    padding:10px 0 10px 10px;
}
.dropdown> ul> li:hover{
    background-color: #949393;;
}
.flex{
    display: flex;
}
.mySidenav{
    width: 250px;
    display: flex;
    flex-direction: column;
    transition:margin-left 0.5s;
}
 .sidenav {
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 100;
    top: 30;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
  }

  /* .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    display: block;
  } 
  @media only screen and (max-width: 768px){  
    .header__search{
        display: flex;
        flex-direction: row-reverse;
    }
    .header__searchInput,.header__link{
        display: none;
    };
}
@media only screen and (min-width: 768px){
    .menuIcon {
        display: none;
    }
}
.sidenav-menu,.sidenav-account{
    display: inline-block;
    /* background-color: ; */
    color: #1e7bbb;
    padding: 30px 60px;
}
.sidenav-account-list > div{
    font:'inherit';
    font-weight: bolder;
    color: #5c6171;
    padding-left: 20px;
}
.sidenav-account-list > div >a{
    font:'inherit';
    font-weight: bolder;
    color: #5c6171;
}

