.home__section{
    margin:0 auto;
    max-width: 1400px;
    width:1400px;
    flex:auto;
    overflow-x: hidden;
    width: 80%;
}

.home__section > p{
    text-align: center;
    font-size: 24px;
    color:#333;
}
@media only screen and (max-width: 768px){
    .home__section{
        width: 90%;
    }
}