.navbar__container{
    background-color:rgb(240, 240, 240);
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navbar__text{
    display: flex;
    flex-wrap: wrap;
}
.navbar__text > a{
    text-decoration: none;
    color:#575c6d;
    font-weight: bolder;
}
@media only screen and (max-width: 768px){
    .navbar__container{
        display: none;
    }
}