.navbar__item{
    position: absolute;
    top: 100px;
    width: 600px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    text-align: center;
    background-color: lightgray;
}
.container > a{
    text-decoration: none;
    color:#575c6d;
    font-weight: bolder;
}