.navbar{
    background-color: rgb(240, 240, 240);
    padding: 10px 200px;
    text-decoration: none;
}
.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
.navbar__container > a{
    text-decoration: none;
    color:#575c6d;
    font-weight: bolder;
}