.product__image > img{
    height:300px;
    width:240px;
}
.product__btn{
    
    margin-right:50px ;
    color: gray;
}
.addToCart{
    background-color: #1979c3;
    color: white;
    font-size: large;
    border: 0;
    padding: 7px 10px;
    font-weight: 600;
}
.favorite, .track{
    padding-left: 10px;
}
.product{
    height: 426px;
    width: 240px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    
    
}
.product__price{
    font-weight: 700;
    font-size: 1.4rem;
}
.product__desc{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}