@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* .opensans {
  font-family: "Open Sans", sans-serif;
} */
*{
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
